nav {
    height: 70px;
    /* background-color: #0979e4; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url(../images/asset\ 1.jpeg);
    height: 100vh;
    /* background-position: center; */
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.hero-content {
    width: 80%;
    margin: auto;
}

.bio {
    inline-size: 60%;
    overflow-wrap: break-word;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}